<a href="https://colab.research.google.com/github/Bobji23/python-learn-and-help-2022/blob/main/A10_exploring_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

* https://www.w3schools.com/python/python_ref_list.asp  (Python List Methods)
* https://www.w3schools.com/python/python_ref_functions.asp (Python Built-in Functions)

In [ ]:
#@title Lists: An Introduction

Data Type
List Type

In [1]:
empty_list = [] #@title 1.Creating an empty list
print(empty_list)

[]

In [2]:
list_with_elements = ["Dog", "Cat", "Fish", "Snake", "Mouse"]#@title 2.Creating a list with some elements
print(list_with_elements)

['Dog', 'Cat', 'Fish', 'Snake', 'Mouse']

In [4]:
list_1 = [1,2,3] #@title 3.Adding elements at the end
list_1.append(4)
print(list_1)

[1, 2, 3, 4]

In [8]:
list_read = ["Apple", "Orange", "Banana"] #@title 4.Accessing an element (positive inde
element_accessed = list_read[1] # also known as "Reading an element"
print(element_accessed)# also known as "Setting an element"

Orange

In [13]:
list_read = ["Apple", "Orange", "Banana"] #@title 4.Accessing an element (positive inde
element_accessed = list_read[-3] # also known as "Reading an element"
print(element_accessed)# also known as "Setting an element"

Apple

In [17]:
list_a = [1, 2, 3] #@title 6.Adding an element at the front of the list
list_a.insert(0, 0)
print(list_a)

[0, 1, 2, 3]

In [19]:
list_b = ["Idli", "Samosa", "Dosa"] #@title 6.Adding an element at the front of the list
list_b.insert(2, "Biriyani")
print(list_b)

['Idli', 'Samosa', 'Biriyani', 'Dosa']

In [20]:
my_list = ["White", "Blue", "Orange"]
my_list[0] = 'Black'
print(my_list)

['Black', 'Blue', 'Orange', 'Gray', 'White']

In [25]:
list = [1, 2, 3, 4, 5]
   
# Using for loop
for i in list:
    print(i)

1
2
3
4
5

In [27]:
my_list = [1, 2, 3, 4, 5, 7, 1]
for i in range(len(my_list)):
  if my_list[i] == 1:
    my_list[i] = 'REPLACED'
print(my_list)

['REPLACED', 2, 3, 4, 5, 7, 'REPLACED']

In [29]:
list_abc = ["America", "India", "China", "Canada"] #@title 11.Common Operations: Find the length of the list
length = len(list_abc)# Find the number of elements in the list
print(length)

4

In [30]:
list_number = [2001, 23992, 10304, 6095, 1, 4940490]#@title 12.Common Operations: Find the maximum in the list
maximum = max(list_number)
print(maximum)

4940490

In [31]:
list_number = [2001, 23992, 10304, 6095, 1, 4940490]#@title 12.Common Operations: Find the maximum in the list
minimum = min(list_number)
print(minimum) #@title 13.Common Operations: Find the minimum in the list

1

In [32]:
number_list = [2,4,2,5,7,9,23,4,5]
number_sum = sum(number_list)
print(number_sum)

61

In [33]:
my_list = ["A", "B", "B", "C"]
my_list.pop(2)
print(my_list)

['A', 'B', 'C']

In [ ]:
#@title 15.Removing the last element in the list

In [ ]:
#@title 16.Removing an element at a given index

In [ ]:
#@title 17.Extending a list
#(Adding several elements to one list)

In [ ]:
#@title 18.Search for an element. What is the index?

In [ ]:
#@title 19.Count the number of times an element is appearing

In [ ]:
#@title 20.Checking for Membership (in)

54.3 ns ± 5.4 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [ ]:
#@title 21.Checking for Membership (not in)

In [ ]:
#@title 22.Reverse a list

In [ ]:
#@title 23.Sort a list

In [ ]:
#@title 24.Copy a list (Caution: Don't reassign)

In [ ]:
#@title 25.Clear (Empty) a list
#Delete all the elements in the list

In [ ]:
#@title 26.Delete the entire list

In [ ]:
#@title 27.Cool Operation: You can add lists

In [ ]:
#@title 28.Cool Operation: You can multiply/repeat a list

In [ ]:
#@title 29.Cool Operation: You can convert a range to a list

In [ ]:
#@title 30.Common Operations: Find the length (Using Built-in Function)

In [ ]:
#@title 31.Common Operations: Find the maximum in the list (Using Built-in Function)

In [ ]:
#@title 32.Common Operations: Find the minimum in the list (Using Built-in Function)

In [ ]:
#@title 33.Common Operations: Find the sum of elements in the list (Using Built-in Function)

In [ ]:
#@title 34.Common Operations: Find the average of elements in the list (Using Built-in Function)

In [ ]:
#@title 35.Common Operations: Find whether the list has any duplicate elements

In [ ]:
#@title 36.Common Operations: Multiply / Divide / Do something to every element in the list

In [ ]:
#@title 37.List Unpacking (N to <N mapping)

In [ ]:
#@title 38.List Unpacking (N to <N mapping)

In [ ]:
#@title 39.Printing a List (*)

In [ ]:
#@title 40.List Slicing

In [ ]:
#@title 41.List Comprehension

In [ ]:
#@title 42.Two Dimenstional Lists  (List of Lists)

In [ ]:
#@title 43.Zipping two or three lists

In [ ]:
#@title 44.Applying a map funciton on the lists